/*.img-1{
	
	background: url("assets/img/img1.jpg") center no-repeat #000000;
	background-blend-mode: multiply;

}*/
/*.img-2{
	background-image: url('../assets/img2.jpg');
	background-color: #000000;
	background-blend-mode: multiply;
}
.img-3{
	background-image: url('../assets/img3.jpg');
	background-color: #000000;
	background-blend-mode: multiply;
}*/
