<!-- {{ Players }}  -->

<div class="container">

  <div class="row">

    <div class="card m-1 border-dark" (click)="getPlayer(player._id)" style="width: 17rem; float: left" *ngFor="let player of Players">
      <div class=" card-body">
        <h5 class="m-0 card-title d-flex justify-content-between">{{player.name}}
          <span 
              [class]="getBadgeColor(player.OPR)"
              [ngClass]="{ 'badge':true,'badge-pill':true }">   
              {{ player.OPR }}
          </span>
        </h5>
      </div>

      <ul class="list-group list-group-flush">

        <li class="justify-content-between d-flex list-group-item border-dark">Club 
          <span>{{player.club}}</span> 
        </li>

        <li class="list-group-item d-flex justify-content-between">Nationality 
          <span>{{player.nationality}}</span>
        </li>

        <li class="  list-group-item d-flex justify-content-between">Rarity
          <span>{{player.rarity}}</span> 
        </li>
      </ul>

    </div>

  </div> 
</div>
